/* line 3, style.scss */
div.yinbao-input-container {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  z-index: 1000;
  background-color: #fff;
  padding: 4px;
  width: 600px;
  border: 2px solid #c9cbce;
  margin-top: 10px;
}
/* line 15, style.scss */
div.yinbao-input-container table.yinbiao-input-table {
  width: 100%;
  VERTICAL-ALIGN: middle;
  line-height: 19px;
}
/* line 19, style.scss */
div.yinbao-input-container table.yinbiao-input-table tr {
  height: 10px;
}
/* line 22, style.scss */
div.yinbao-input-container table.yinbiao-input-table td {
  VERTICAL-ALIGN: middle;
  padding: 2px;
  background-color: #eee;
  border: 2px solid #fff;
}
/* line 27, style.scss */
div.yinbao-input-container table.yinbiao-input-table td.yinbiao-button {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
/* line 31, style.scss */
div.yinbao-input-container table.yinbiao-input-table td.yinbiao-button:hover {
  background-color: gray;
  color: white;
}
/* line 37, style.scss */
div.yinbao-input-container table.yinbiao-input-table th {
  FONT-SIZE: 12pt;
  WIDTH: 10%;
  padding: 0px 3px;
  TEXT-ALIGN: left;
}
/* line 44, style.scss */
div.yinbao-input-container:before, div.yinbao-input-container:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  position: absolute;
  left: 20px;
  z-index: 999999;
}
/* line 55, style.scss */
div.yinbao-input-container:before {
  border-color: transparent transparent #ffffff;
  top: -17px;
  z-index: 9999999;
}
/* line 61, style.scss */
div.yinbao-input-container:after {
  border-color: transparent transparent #c9cbce;
  top: -20px;
}
